{% extends 'base.html' %}

{% block content %}

<div>
<form action="{{ url_for('hogwarts') }}" method="POST">
    {{ form.name.label() }}{{ form.name() }}<br>
    {{ form.house.label() }}{{ form.house() }}<br><br>
    {{ form.submit() }}
    {{ form.hidden_tag() }}
</form>
</div>

{% for message in get_flashed_messages() %}
	{% for key in message %}
    	{{ message[key][0] }}
    {% endfor %}
{% endfor %}

{% if student %}
	Results for your search: <br><br>
	{{ student[0].name }} - {{ student[1] }} - {{ student[0].patronus }} <br><br>

	This student has been added to your saved students. To see all the students you've previously searched, click <a href="{{ url_for('show_hogwarts_students')}}">HERE</a> .
{% endif %}

{% endblock %}